{{ define "header" }}
  {{ partial "header.html" . }}
{{ end }}

{{ define "content" }}
<h1>Page not found: 404</h1>
<p class="lead">Sorry, we've misplaced that URL or it's pointing to something that doesn't exist. <a href="{{ .Site.BaseURL }}">Head back home</a> to try finding it again.</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ?rel=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
{{ end }}

{{ define "footer" }}
{{ end }}
